.board {
  max-width: 640px;
  max-height: 640px;
  width: 100vw;
  height: 100vw;

  display: flex;
  flex-wrap: wrap;
  font-size: 45px;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.75);
  border: 20px solid transparent;
  border-image: url("https://img.freepik.com/free-vector/grey-wooden-background_1048-1517.jpg?w=2000")
    30 stretch;
  background-color: azure;
}
.gray {
  background-color: rgb(107, 107, 107);
}

.box {
  height: 12.5%;
  width: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, sans-serif;
  background-color: blanchedalmond;
}
